{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Estado de Cuenta</title>
</head>
<body>

<div class="container-estado-cliente">
    <h2>Estado de Cuenta del Cliente</h2>
    <div>
        <p>Cliente: {{ cliente_data.cliente.NIT }} - {{ cliente_data.cliente.Nombre }}</p>
        <p>Saldo actual: Q. {{ saldo_actual }}</p>
    </div>

    <h3>Facturas:</h3>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cargo</th>
                <th>Abono</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in cliente_data.facturas %}
            <tr>
                <td>{{ factura.Fecha }}</td>
                <td>{{ factura.Valor }} {{ factura.NumeroFactura }}</td>
                <td>Q.0</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Pagos:</h3>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cargo</th>
                <th>Abono</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in cliente_data.pagos %}
            <tr>
                <td>{{ pago.Fecha }}</td>
                <td>Q.0</td>
                <td>Q.{{ pago.Valor }} - {{ pago.CodigoBanco }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="http://127.0.0.1:5000/descargar-pdf" method="GET">
        <input type="hidden" name="nit-cliente" value="{{ cliente_data.cliente.NIT }}">
    <button type="submit">Descargar PDF</button>
    </form>
</div>
</body>
</html>
