{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Estado de Cuenta Clientes</title>
</head>
<body>
{% for cliente in clientes_data %}
<div class="container-estado-cliente">
    <h2>Estado de Cuenta del Cliente</h2>
    <div>
        <p>Cliente: {{ cliente.cliente.NIT }} - {{ cliente.cliente.Nombre }}</p>
        <p>Saldo actual: Q. {{ cliente.saldo_actual }}</p>
    </div>

    <h3>Facturas:</h3>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cargo</th>
                <th>Abono</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in cliente.facturas %}
            <tr>
                <td>{{ factura.Fecha }}</td>
                <td>{{ factura.Valor }} {{ factura.NumeroFactura }}</td>
                <td>Q.0</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Pagos:</h3>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cargo</th>
                <th>Abono</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in cliente.pagos %}
            <tr>
                <td>{{ pago.Fecha }}</td>
                <td>Q.0</td>
                <td>Q.{{ pago.Valor }} - {{ pago.CodigoBanco }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}

<a href="http://127.0.0.1:5000/descargar-pdf-clientes"><button class="button-descargar">Descargar PDF Clientes</button></a>
</body>
</html>
